data/cces/CCES_with_ACS.dta filter=lfs diff=lfs merge=lfs -text
data/cces_with_county_protest_events.dta filter=lfs diff=lfs merge=lfs -text
data/cces_with_county_protest_events.xlsx filter=lfs diff=lfs merge=lfs -text
